header{
    background: url(images/central_park.jpg) 0-200px no-repeat; /*place image as background*/
    background-size: 1500px; /*background-position:0-200px;*/ /*background-repeat: no-repeat;*/
    height:400px; /*give header some height to display the background image*/
}